@media (min-width: 0px) {
    .svcover{
        min-height: 300px;
        margin-bottom: 15px;
    }
    
    .svcover-box{
        margin: 0 auto;
        max-width: 350px;
        padding: 50px 0;
    }
    
	.svcontent-img{
	    padding: 0 20px 0 20px;
	    margin: 0 auto;
	    max-width: 160px;
	}
	
    .svcontent-box h2{
        font-size: 22px;
        line-height: 1.4em;
    }
    
    .svcontent-box-desc{
        line-height: 1.45em;
    }
    
    .svfeature-sep-box{
        max-width: 350px;
        padding: 5px 0;
    }
    
	.svfeature-sep-desc{
	    padding: 0 15px;
	}
	
    .svfeature-sep-box h3{
        font-size: 22px;
    }
    
    .svfeature-sep{
        margin-bottom: 20px;
    }
    
	.svfeature-list h2{
	    font-size: 26px;
	}
	
	.svfeature-list-desc{
	    padding: 0;
	}
	
    .svfeature-listbox--left{
        width: 120px;
    }
    
    .svfeature-listbox--right{
        margin-left: 130px;
    }
    
    .svfeature-listbox--right h3{
        font-size: 16px;
        padding-top: 0;
        margin-bottom: 2px;
    }
    
    .svfeature-listbox--righ-desc{
	    padding-right: 20px;
	    font-size: 12px;
	    line-height: 1.5em;
    }
    
	.svfeature-listboxin{
	    margin-bottom: 15px;
	}
	
	.svfeature-sep{
	    margin-top: 10px;
	}
	
	.svprice h2{
	    font-size: 24px;
	}
	
	.svprice-box-1 .svprice-box-title{
	    font-size: 22px;
	}
	
	.svprice-box-2 .svprice-box-title{
	    font-size: 28px;
	}
	
    .svprice-box-3b .svprice-box-icon{
        width: 36px;
        font-size: 12px;
    }
    
    .svprice-box-3b .svprice-box-title{
        margin-left: 40px;
        font-size: 14px;
    }
    
    .svprice-box-4{
        font-size: 14px;
        line-height: 1.5em;
    }
    
	.svproduct{
	    padding-left: 0;
	    margin-top: 15px;
	}
	
    .svproduct-box-left{
        width: 100%;
    }
    
    .svproduct-box-right{
        margin-left: 0;
        margin-top: 6px;
    }
    
    .svproduct-box-img{
        float: left;
        width: 80px;
    }
    
	.svproduct-box-title{
	    margin-left: 90px;
	    font-size: 14px;
	    padding-top: 2px;
	    margin-bottom: 4px;
	}
	
	.svproduct-box-price{
	    margin-top: 7px;
	}
	
	.svproduct-box{
	    margin-bottom: 10px;
	}
	
    .svcontact{
        width: auto;
        margin-left: -10px !important;
        margin-right: -10px !important;
        margin-top: 10px;
    }
    
    .svcontact-box{
        padding: 0 10px 10px 10px;
    }
    
    .svcontact-box-title{
        margin: 0 -10px;
    }
    
	.svcontact-box-content--left{
	    float: none;
	    width: 100px;
	    text-align: center;
	    padding: 0 0 15px 0;
	    margin: 0 auto;
	}
	
    textarea.svcontact-input{
        height: 120px;
    }
    
    .svcontact-box-link{
        margin-top: 30px;
    }
    
    .svrelate{
        padding: 10px 10px 6px 10px;
        width: auto;
        margin-left: -10px !important;
        margin-right: -10px !important;
    }
    
    .svref{
        padding: 18px 10px 6px 10px;
        width: auto;
        margin-left: -10px !important;
        margin-right: -10px !important;
    }
    
    .svrelate-box .side-service-box{
        margin-bottom: 5px;
    }
    
	.frelate-box-title h3{
		font-size: 15px;
	}
	
	.svfeature-content{
		border: 2px dashed #0bc9eb;
	    padding: 10px 13px 0px 13px;
	    margin: 10px 0 20px 0;
	}
}

@media (min-width: 768px) {
    .svcover{
        min-height: 300px;
        margin-bottom: 20px;
    }
    
    .svcover-box{
        margin: 0 auto;
        max-width: 630px;
        padding: 20px 0;
    }
    
    .svcontent-img{
        padding: 0 0 0 30px;
        max-width: none;
    }
    
    .svcontent-box-desc{
        line-height: 1.55em;
    }
    
    .svfeature-sep-box{
        max-width: 730px;
        padding: 10px 0;
    }
    
    .svfeature-sep-desc{
        padding: 0 20px;
    }
    
    .svfeature-sep-box h3{
        font-size: 24px;
    }
    
    .svfeature-sep{
        margin-bottom: 30px;
    }
    
    .svfeature-list h2{
        font-size: 28px;
    }
    
    .svfeature-list-desc{
        padding: 0 40px;
    }
    
    .svfeature-listbox--left{
        width: 120px;
    }
    
    .svfeature-listbox--right{
        margin-left: 137px;
    }
    
    .svfeature-listbox--right h3{
	    font-size: 16px;
	    padding-top: 5px;
	    margin-bottom: 5px;
    }
    
    .svfeature-listbox--righ-desc{
        padding-right: 20px;
        font-size: 14px;
        line-height: 1.45em;
    }
    
    .svfeature-listboxin{
        margin-bottom: 20px;
    }
    
    .svfeature-sep{
        margin-top: 15px;
    }
    
    .svprice h2{
        font-size: 26px;
    }
    
    .svprice-box-1 .svprice-box-title{
        font-size: 24px;
    }
    
    .svprice-box-2 .svprice-box-title{
        font-size: 30px;
    }
    
    .svprice-box-3b .svprice-box-icon{
        width: 56px;
        font-size: 12px;
    }
    
    .svprice-box-3b .svprice-box-title{
        margin-left: 56px;
        font-size: 15px;
    }
    
    .svprice-box-4{
        font-size: 15px;
        line-height: 1.4em;
    }
    
    .svproduct{
        padding-left: 0;
        margin-top: 15px;
    }
    
    .svproduct-box-left{
        width: 100%;
    }
    
    .svproduct-box-right{
        margin-left: 0;
        margin-top: 5px;
    }
    
    .svproduct-box-img{
        float: left;
        width: 70px;
    }
    
    .svproduct-box-title{
        margin-left: 80px;
        font-size: 14px;
        padding-top: 2px;
        margin-bottom: 4px;
    }
    
    .svproduct-box-price{
        margin-top: 5px;
    }
    
    .svproduct-box{
        margin-bottom: 10px;
    }
    
    .svcontact{
        width: auto;
        margin-left: -15px !important;
        margin-right: -15px !important;
        margin-top: 30px;
    }
    
    .svcontact-box{
        padding: 0 15px 0 15px;
    }
    
    .svcontact-box-title{
        margin: 0 -15px;
    }
    
    .svcontact-box-content--left{
        float: left;
        width: 120px;
        text-align: center;
        padding: 35px 0 0 10px;
    }
    
    .svcontact-box-content--right{
        margin-left: 155px;
    }
    
    .svcontact-box-link{
        padding: 20px 0 0 0;
    }
    
	textarea.svcontact-input{
	    height: 70px;
	}
	
    .svcontact-box-link{
        margin-top: 0;
    }
    
    .svrelate{
        padding: 15px 15px 6px 15px;
        width: auto;
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
    
    .svref{
        padding: 20px 15px 6px 15px;
        width: auto;
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
    
    .svrelate-box .side-service-box{
        margin-bottom: 10px;
    }
    
	.svfeature-content{
		border: 3px dashed #0bc9eb;
	    padding: 12px 15px 0px 15px;
	    margin: 10px 0 25px 0;
	}
}

@media (min-width: 970px) {
    .svcover{
        min-height: 370px;
        margin-bottom: 30px;
    }
    
	.svcover-box{
	    margin: 0 auto;
	    max-width: 1100px;
	    padding: 110px 0;
	}
	
    .svcontent-img{
        padding: 0 0 0 53px;
    }
    
	.svcontent-box h2{
	    font-size: 24px;
	    line-height: 1.5em;
	}
	
	.svcontent-box-desc{
	    line-height: 1.55em;
	}
	
	.svfeature-sep-box{
	    max-width: 1100px;
	    padding: 15px 0;
	}
	
    .svfeature-sep-desc{
        padding: 0 40px;
    }
    
	.svfeature-sep-box h3{
	    font-size: 26px;
	}
	
	.svfeature-sep{
	    margin-bottom: 40px;
	}
	
    .svfeature-list h2{
        font-size: 30px;
    }
    
	.svfeature-listbox--left{
	    width: 150px;
	}
	
	.svfeature-listbox--right{
	    margin-left: 167px;
	}
	
	.svfeature-listbox--right h3{
	    font-size: 20px;
	    padding-top: 10px;
	}
	
	.svfeature-listbox--righ-desc{
        padding-right: 20px;
        font-size: 16px;
        line-height: 1.65em;
	}
	
    .svfeature-sep{
        margin-top: 20px;
    }
    
	.svprice-box-3b .svprice-box-icon{
	    width: 56px;
	    font-size: 12px;
	}
	
	.svprice-box-3b .svprice-box-title{
	    margin-left: 56px;
	    font-size: 15px;
	}
	
	.svprice-box-4{
	    font-size: 15px;
	}
	
    .svproduct{
        padding-left: 10px;
        margin-top: 54px;
    }
    
    .svproduct-box-left{
        width: 100%;
    }
    
    .svproduct-box-right{
        margin-left: 0;
        margin-top: 5px;
    }
    
    .svproduct-box-img{
        float: left;
        width: 70px;
    }
    
    .svproduct-box-title{
        margin-left: 80px;
        font-size: 14px;
        padding-top: 2px;
        margin-bottom: 4px;
    }
    
    .svproduct-box-price{
        margin-top: 5px;
    }
    
    .svproduct-box{
        margin-bottom: 10px;
    }
    
	.svcontact{
	    width: 200%;
	    margin-left: -50% !important;
	    margin-right: -50% !important;
	    margin-top: 30px;
	}
	
	.svcontact-box{
	    padding: 0 0 23px 0;
	}
	
    .svcontact-box-content--left{
        float: left;
        width: 200px;
        text-align: center;
        padding: 20px 0 0 10px;
    }
    
	.svcontact-box-content--right{
	    margin-left: 215px;
	}
	
	.svcontact-box-link{
	    padding: 27px 20px 0 0;
	}
	
	.svrelate{
	    padding: 30px 0 4px 0;
	    width: 200%;
	    margin-left: -50% !important;
	    margin-right: -50% !important;
	}
	
	.svref{
	    padding: 30px 0 20px 0;
	    width: 200%;
	    margin-left: -50% !important;
	    margin-right: -50% !important;
	}
	
	.svrelate-box .side-service-box{
	    margin-bottom: 30px;
	}
	
	.frelate-box a{
		opacity: 0.94;
		display: block;
	}
	
	.frelate-box a:hover{
		opacity: 1;
	}
	
	.frelate-box-title h3{
		font-size: 16px;
	}
	
	.svfeature-content{
		border: 3px dashed #0bc9eb;
	    padding: 15px 20px 1px 20px;
	    margin: 10px 0 35px 0;
	}
}

.svcover{
    background-position: center center !important;
    background-size: cover !important;
    text-align: center;
    padding: 20px 0;
    width: 200%;
    margin-left: -50% !important;
    margin-right: -50% !important;
    display: flex;
    position: relative;
}

.svcover-box{
    width: 100%;
    overflow: hidden;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    color: #FFF;
}

.svcover-box h1{
	color: #FFF;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	font-size: 44px;
}

.svcover-desc{
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    line-height: 1.7em;
    max-width: 745px;
    margin: 0 auto;
}

.svcontent-box h2{
    font-weight: bold;
    margin-bottom: 3px;
}

.svcontent-box{
	margin-bottom: 15px;
}

.svcontent-img{
    text-align: center;
}

.svfeature-sep{
    background-position: center center !important;
    background-size: cover !important;
    text-align: center;
    padding: 20px 0;
    width: 200%;
    margin-left: -50% !important;
    margin-right: -50% !important;
    display: flex;
    position: relative;
    background-color: #88b537;
    color: #FFF;
}

.svfeature-sep-box{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    color: #FFF;
}

.svfeature-sep-box h3{
    margin-bottom: 10px;
    font-weight: bold;
    color: #FFF;
}

.svfeature-list h2{
	text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 1.4em;
}

.svfeature-list-desc{
    margin: 10px 0 30px 0;
    line-height: 1.6em;
    text-align: center;
}

.svfeature-listboxin:after{
	clear: both;
	display: block;
	content: " ";
}

.svfeature-listbox--left{
    float: left;
}

.svfeature-listbox--right{
    color: #666;
}

.svfeature-listbox--right h3{
    font-weight: bold;
    line-height: 1.5em;
}

.svprice{
	margin-top: 20px;
}

.svprice h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.svprice-box{
	background: #f9f9f9;
	border-radius: 6px;
}

.svprice-box-1{
    background: #65707f;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 25px 0;
    border: 1px solid #545e69;
    border-radius: 6px 6px 0 0;
}

.svprice-box-1 .svprice-box-title{
    font-weight: bold;
    line-height: 1.4em;
    color: #fff2b1;
    margin-bottom: 5px;
}

.svprice-box-1 .svprice-box-desc{
    color: #F0F0F0;
}

.svprice-box-2{
	background: #788494;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding: 15px 0;
    border: 1px solid #646e7b;
    border-top: none;
}

.svprice-box-2 .svprice-box-title{
    letter-spacing: 1px;
    line-height: 1.3em;
}

.svprice-box-2 .svprice-box-desc{
    font-size: 12px;
    margin-top: 1px;
    color: #DDD;
}

.svprice-box-3{
    text-shadow: 0 1px 0 #FFFFFF;
    color: #5f6062;
    line-height: 1.4em;
}

.svprice-box-3 .svprice-box-3b:nth-child(odd){
	background: #f0f0f0;
}

.svprice-box-3b{
	padding: 18px 15px 18px 0;
}

.svprice-box-3b .svprice-box-icon{
	float: left;
	text-align: center;
	color: #888;
	padding-left: 3px;
	padding-bottom: 15px;
}

.svprice-box-4{
    padding: 12px 16px;
    background: #e8e8e8;
    border-radius: 0 0 6px 6px;
}

.svproduct-box{
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 8px;
    background: #fcfcfc;
}

.svproduct-box:after,
.svproduct-box-left:after{
	clear: both;
	content: " ";
	display: block;
}

.svproduct-box-price{
    color: #c71a2a;
    font-size: 12px;
    margin-bottom: -4px;
    text-align: left;
}

.svproduct-box-img img{
	border-radius: 2px;
}

.svproduct-box-title{
    font-weight: bold;
    line-height: 1.45em;
}

.svproduct-box-lists{
	padding-top: 3px;
}

.svproduct-box-lists ul{
	padding-left: 17px;
	margin-bottom: 0;
}

.svproduct-box-lists ul li{
    font-size: 12px;
    line-height: 1.45em;
    margin-bottom: 2px;
}

.svproduct-box-lists ul li div{
	margin-left: -5px;
}

.svproduct-box-price span{
	margin-right: 2px;
}

.svcontact{
    background-position: center center !important;
    background-size: cover !important;
    padding: 0;
    display: flex;
    position: relative;
    margin-bottom: 0;
    background-color: #0bc9eb;
    color: #FFF;
}

.svcontact-box{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    overflow: hidden;
    color: #444;
    background: #42e2ff;
}

.svcontact-box-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: #15d8fb;
    padding: 12px 0;
    margin-bottom: 20px;
}

.svcontact-box-title i{
    font-size: 24px;
    margin-right: 3px;
}

.svcontact-box-content:after{
	clear: both;
	content: " ";
	display: block;
}

.svcontact-box-content--left img{
	border-radius: 50%;
}

.svcontact-box-content--right-head{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}

.svcontact-box-content--right-head span{
	display: none;
    font-size: 12px;
    margin-left: 20px;
    font-weight: normal;
    color: #0000FF;
}

.svcontact-box-ss{
	display: none;
}

.svcontact-box--success{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: #18c118;
    background: #f1ffe1;
    line-height: 1.4em;
    padding: 20px 0 21px 0;
    border: 1px solid #0ac9eb;
    border-radius: 3px;
    margin-bottom: 16px;
}

.svcontact-input{
    height: 35px;
    line-height: 35px;
    padding: 1px 10px;
    font-size: 16px;
    background: #fff;
    color: #333;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #0ac9eb;
    border-radius: 3px;
    margin-bottom: 10px;
}

.svcontact-input-honey{
	display: none;
}

.svcontact-box-submit i{
    font-size: 24px;
    line-height: 14px;
}

textarea.svcontact-input{
	line-height: 1.4em;
	padding: 6px 10px 0 10px;
    font-family: Tahoma, Geneva, sans-serif;
}

.svcontact-box-content--remark{
    font-size: 12px;
    color: #777;
    margin-top: -12px;
}

.svcontact-box-content--right-form button{
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 24px 0;
    background: #0bc9eb;
    color: #ffffff !important;
    border: 1px solid #0fbbda;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    font-weight: bold;
    cursor: pointer;
}

.svcontact-box-content--right-form button:disabled,
.svcontact-box-content--right-form button[disabled]{
    background: #CCC !important;
    color: #AAA !important;
    border: 1px solid #ccc !important;
    text-shadow: #dadada 1px 1px 0;
}

.svcontact-input svcontact-input-name:disabled,
.svcontact-input svcontact-input-name:[disabled],
.svcontact-input svcontact-input-tel:disabled,
.svcontact-input svcontact-input-tel:[disabled]{
    background: #EEE;
    color: #AAA;
    border: 1px solid #BBB;
}

.svcontact-box-content--right-form button:hover{
	border: 1px solid #0aa2bd;
	background: #0cc0e0;
}

.svcontact-box-link{
	font-size: 14px;
}

.svcontact-box-link a{
	text-align: center;
	display: block;
	margin-bottom: 11px;
}

.svcontact-box-link--line,
.svcontact-box-link--tel,
.svcontact-box-link--mail{
	padding: 8px 0;
	border-radius: 3px;
	color: #FFF;
	text-decoration: none;
}

.svcontact-box-link--line:hover,
.svcontact-box-link--tel:hover,
.svcontact-box-link--mail:hover{
	text-decoration: none;
	color: #FFF;
}

.svcontact-box-link--line{
    background: #01b901;
}

.svcontact-box-link--line:hover{
	background: #00a700;
}

.svcontact-box-link--line span{
	letter-spacing: 1px;
	font-weight: bold;
}

.svcontact-box-link--tel{
    background: #2c3e50;
}

.svcontact-box-link--tel:hover{
	background: #202831;
}

.svcontact-box-link--tel span{
    letter-spacing: 1px;
}

.svcontact-box-link--mail{
    background: #AAA;
}

.svcontact-box-link--mail:hover{
	background: #9a9a9a;
}

.svcontact-box-link--mail span{
    letter-spacing: 1px;
}

.svrelate{
    background-position: center center !important;
    background-size: cover !important;
    display: flex;
    position: relative;
    background-color: #e4e4e4;
}

.svref{
    background-position: center center !important;
    background-size: cover !important;
    display: flex;
    position: relative;
    background-color: #FFF;
}

.svrelate-box{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    overflow: hidden;
}

.svref-box{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    overflow: hidden;
}

.svrelate-box .side-service-box h2 a{
    background: #5c5e60;
}

.svref-box h2{
	color: #333;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.svref-box h2 a{
	color: #333;
}

.frelate-box a:hover{
	text-decoration: none;
}

.frelate-box{
	background: #f0f0f0;
	margin-bottom: 10px;
}

.frelate-box-img img{
	width: 100%;
}

.frelate-box-title h3{
    margin-bottom: 0;
    padding: 10px 0 8px 0;
    text-align: center;
    font-weight: bold;
    max-width: 342px;
    color: #444;
    margin: 0 auto;
}

.svfeature-content{
    border-radius: 6px;
    line-height: 1.65em;
    background: #ecfbfd;
    color: #333;
}








